
    <h1 class="text-center">Editar Reunião</h1>

    <%= render 'modal', consultation: @consultation %>

    <%= link_to 'Show', @consultation %> 
    <%= link_to 'Back', @consultations_path %>
    <%= link_to 'Destroy', @consultation.destroy %>

