<div class="container-fluid w-50 position-absolute top-50 start-50 translate-middle shadow p-5">
    <h1>Nova Reunião</h1>

    <%= render 'modal', consultation: @consultation %>

    <a class="btn btn-outline-secondary" href= "/consultations" type="button">Voltar</a>
</div>
